
<!DOCTYPE html>
<html lang="fa">
<head>

	<partial name="_MetaTags" />

	<title> رزومه نادر اسدپور | @ViewData["Title"]</title>

	<partial name="_HeaderRefrences" />
	@RenderSectionAsync("Styles", false)

</head>
<body>
	
	<partial name="_PreLoader" />

	<main class="main">
		<!-- Header Image -->
		
		<partial name="_TopHeader" />

		<div class="container gutter-top">

			@await Component.InvokeAsync("Header")

			<div class="row sticky-parent">

				<partial name="_SideBar" />

				<!-- Content -->
				<div class="col-12 col-md-12 col-lg-10">
					@RenderBody()

					<!-- Footer -->
					<partial name="_Footer" />
				</div>
			</div>
		</div>
	</main>

	<partial name="_SiteTools" />
	
	<partial name="_FooterRefrences" />
	@RenderSectionAsync("Scripts", false)

</body>
</html>